<div class="container col-10 form-design">
  <div class="card">
    <%= simple_form_for @employee do |f| %>
    <h2> New Employee </h2>
    <br>
    <div class="form-inputs">
      <%= f.input :forename, placeholder: "John"  %>
      <%= f.input :surname, placeholder: "Doe"  %>
      <%= f.input :address, placeholder: "Paris"  %>
      <%= f.input :email, placeholder: "john@doe.com"  %>
      <%= f.input :department, placeholder: "Bar" %>
      <%= f.input :manager_id, collection: User.where(manager: true), label_method: :fullname %>
    </div>
    <br>

    <div class="form-actions">
      <%= f.button :submit, value: "Confirm & Submit", name: "submit", class: "btn-success-design"%>
    </div>

    <% end %>
  </div>
</div>
<br>
